<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting label="30002" type="slider" id="commercial" range="0,1,3" option="int" default="3" />
        <setting label="30003" type="slider" id="advertBreak" range="0,1,3" option="int" default="3" />
        <setting label="30004" type="slider" id="consumerism" range="0,1,3" option="int" default="3" />
        <setting label="30005" type="slider" id="productPlacement" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30006">
        <setting label="30007" type="slider" id="discrimination" range="0,1,3" option="int" default="3" />
        <setting label="30104" type="slider" id="ableism" range="0,1,3" option="int" default="3" />
        <setting label="30008" type="slider" id="adultism" range="0,1,3" option="int" default="3" />
        <setting label="30009" type="slider" id="antisemitism" range="0,1,3" option="int" default="3" />
        <setting label="30010" type="slider" id="genderism" range="0,1,3" option="int" default="3" />
        <setting label="30011" type="slider" id="homophobia" range="0,1,3" option="int" default="3" />
        <setting label="30012" type="slider" id="misandry" range="0,1,3" option="int" default="3" />
        <setting label="30013" type="slider" id="misogyny" range="0,1,3" option="int" default="3" />
        <setting label="30014" type="slider" id="racism" range="0,1,3" option="int" default="3" />
        <setting label="30015" type="slider" id="sexism" range="0,1,3" option="int" default="3" />
        <setting label="30105" type="slider" id="sizeism" range="0,1,3" option="int" default="3" />
        <setting label="30016" type="slider" id="supremacism" range="0,1,3" option="int" default="3" />
        <setting label="30017" type="slider" id="transphobia" range="0,1,3" option="int" default="3" />
        <setting label="30018" type="slider" id="xenophobia" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30019">
        <setting label="30020" type="slider" id="dispensable" range="0,1,3" option="int" default="3" />
        <setting label="30021" type="slider" id="idiocy" range="0,1,3" option="int" default="3" />
        <setting label="30022" type="slider" id="tedious" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30023">
        <setting label="30024" type="slider" id="drugs" range="0,1,3" option="int" default="3" />
        <setting label="30025" type="slider" id="alcohol" range="0,1,3" option="int" default="3" />
        <setting label="30026" type="slider" id="antipsychotics" range="0,1,3" option="int" default="3" />
        <setting label="30027" type="slider" id="cigarettes" range="0,1,3" option="int" default="3" />
        <setting label="30028" type="slider" id="depressants" range="0,1,3" option="int" default="3" />
        <setting label="30029" type="slider" id="gambling" range="0,1,3" option="int" default="3" />
        <setting label="30030" type="slider" id="hallucinogens" range="0,1,3" option="int" default="3" />
        <setting label="30031" type="slider" id="stimulants" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30032">
        <setting label="30033" type="slider" id="fear" range="0,1,3" option="int" default="3" />
        <setting label="30034" type="slider" id="accident" range="0,1,3" option="int" default="3" />
        <setting label="30035" type="slider" id="acrophobia" range="0,1,3" option="int" default="3" />
        <setting label="30036" type="slider" id="aliens" range="0,1,3" option="int" default="3" />
        <setting label="30037" type="slider" id="arachnophobia" range="0,1,3" option="int" default="3" />
        <setting label="30038" type="slider" id="astraphobia" range="0,1,3" option="int" default="3" />
        <setting label="30039" type="slider" id="aviophobia" range="0,1,3" option="int" default="3" />
        <setting label="30040" type="slider" id="chemophobia" range="0,1,3" option="int" default="3" />
        <setting label="30041" type="slider" id="claustrophobia" range="0,1,3" option="int" default="3" />
        <setting label="30042" type="slider" id="coulrophobia" range="0,1,3" option="int" default="3" />
        <setting label="30043" type="slider" id="cynophobia" range="0,1,3" option="int" default="3" />
        <setting label="30044" type="slider" id="death" range="0,1,3" option="int" default="3" />
        <setting label="30045" type="slider" id="dentophobia" range="0,1,3" option="int" default="3" />
        <setting label="30046" type="slider" id="emetophobia" range="0,1,3" option="int" default="3" />
        <setting label="30047" type="slider" id="enochlophobia" range="0,1,3" option="int" default="3" />
        <setting label="30048" type="slider" id="explosion" range="0,1,3" option="int" default="3" />
        <setting label="30049" type="slider" id="fire" range="0,1,3" option="int" default="3" />
        <setting label="30050" type="slider" id="gerascophobia" range="0,1,3" option="int" default="3" />
        <setting label="30051" type="slider" id="ghosts" range="0,1,3" option="int" default="3" />
        <setting label="30052" type="slider" id="graves" range="0,1,3" option="int" default="3" />
        <setting label="30053" type="slider" id="hemophobia" range="0,1,3" option="int" default="3" />
        <setting label="30054" type="slider" id="hylophobia" range="0,1,3" option="int" default="3" />
        <setting label="30055" type="slider" id="melissophobia" range="0,1,3" option="int" default="3" />
        <setting label="30056" type="slider" id="misophonia" range="0,1,3" option="int" default="3" />
        <setting label="30057" type="slider" id="musophobia" range="0,1,3" option="int" default="3" />
        <setting label="30058" type="slider" id="mysophobia" range="0,1,3" option="int" default="3" />
        <setting label="30059" type="slider" id="nosocomephobia" range="0,1,3" option="int" default="3" />
        <setting label="30060" type="slider" id="nyctophobia" range="0,1,3" option="int" default="3" />
        <setting label="30061" type="slider" id="siderodromophobia" range="0,1,3" option="int" default="3" />
        <setting label="30062" type="slider" id="thalassophobia" range="0,1,3" option="int" default="3" />
        <setting label="30063" type="slider" id="vampires" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30064">
        <setting label="30065" type="slider" id="language" range="0,1,3" option="int" default="3" />
        <setting label="30066" type="slider" id="blasphemy" range="0,1,3" option="int" default="3" />
        <setting label="30067" type="slider" id="nameCalling" range="0,1,3" option="int" default="3" />
        <setting label="30068" type="slider" id="sexualDialogue" range="0,1,3" option="int" default="3" />
        <setting label="30069" type="slider" id="swearing" range="0,1,3" option="int" default="3" />
        <setting label="30070" type="slider" id="vulgarity" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30068">
        <setting label="30069" type="slider" id="nudity" range="0,1,3" option="int" default="3" />
        <setting label="30070" type="slider" id="bareButtocks" range="0,1,3" option="int" default="3" />
        <setting label="30071" type="slider" id="exposedGenitalia" range="0,1,3" option="int" default="3" />
        <setting label="30072" type="slider" id="fullNudity" range="0,1,3" option="int" default="3" />
        <setting label="30073" type="slider" id="toplessness" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30074">
        <setting label="30075" type="slider" id="sex" range="0,1,3" option="int" default="3" />
        <setting label="30076" type="slider" id="adultery" range="0,1,3" option="int" default="3" />
        <setting label="30077" type="slider" id="analSex" range="0,1,3" option="int" default="3" />
        <setting label="30078" type="slider" id="coitus" range="0,1,3" option="int" default="3" />
        <setting label="30079" type="slider" id="kissing" range="0,1,3" option="int" default="3" />
        <setting label="30080" type="slider" id="masturbation" range="0,1,3" option="int" default="3" />
        <setting label="30081" type="slider" id="objectification" range="0,1,3" option="int" default="3" />
        <setting label="30082" type="slider" id="oralSex" range="0,1,3" option="int" default="3" />
        <setting label="30083" type="slider" id="premaritalSex" range="0,1,3" option="int" default="3" />
        <setting label="30084" type="slider" id="promiscuity" range="0,1,3" option="int" default="3" />
        <setting label="30085" type="slider" id="prostitution" range="0,1,3" option="int" default="3" />
    </category>
    <category label="30086">
        <setting label="30087" type="slider" id="violence" range="0,1,3" option="int" default="3" />
        <setting label="30088" type="slider" id="choking" range="0,1,3" option="int" default="3" />
        <setting label="30089" type="slider" id="crueltyToAnimals" range="0,1,3" option="int" default="3" />
        <setting label="30090" type="slider" id="culturalViolence" range="0,1,3" option="int" default="3" />
        <setting label="30091" type="slider" id="desecration" range="0,1,3" option="int" default="3" />
        <setting label="30092" type="slider" id="emotionalViolence" range="0,1,3" option="int" default="3" />
        <setting label="30093" type="slider" id="kicking" range="0,1,3" option="int" default="3" />
        <setting label="30094" type="slider" id="massacre" range="0,1,3" option="int" default="3" />
        <setting label="30095" type="slider" id="murder" range="0,1,3" option="int" default="3" />
        <setting label="30096" type="slider" id="punching" range="0,1,3" option="int" default="3" />
        <setting label="30097" type="slider" id="rape" range="0,1,3" option="int" default="3" />
        <setting label="30098" type="slider" id="slapping" range="0,1,3" option="int" default="3" />
        <setting label="30099" type="slider" id="slavery" range="0,1,3" option="int" default="3" />
        <setting label="30100" type="slider" id="stabbing" range="0,1,3" option="int" default="3" />
        <setting label="30101" type="slider" id="torture" range="0,1,3" option="int" default="3" />
        <setting label="30102" type="slider" id="warfare" range="0,1,3" option="int" default="3" />
        <setting label="30103" type="slider" id="weapons" range="0,1,3" option="int" default="3" />
    </category>
</settings>