<?xml version="1.0" ?>
<settings version="1">
	<section id="script.movie.content.filter">
		<category id="commercial content" label="32001" help="">
			<group id="1">
				<setting id="commercial" type="integer" label="32002" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="advertBreak" type="integer" label="32003" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="consumerism" type="integer" label="32004" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="productPlacement" type="integer" label="32005" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="discrimination" label="32006" help="">
			<group id="1">
				<setting id="discrimination" type="integer" label="32007" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="ableism" type="integer" label="32104" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="adultism" type="integer" label="32008" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="antisemitism" type="integer" label="32009" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="genderism" type="integer" label="32010" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="homophobia" type="integer" label="32011" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="misandry" type="integer" label="32012" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="misogyny" type="integer" label="32013" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="racism" type="integer" label="32014" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="sexism" type="integer" label="32015" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="sizeism" type="integer" label="32105" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="supremacism" type="integer" label="32016" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="transphobia" type="integer" label="32017" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="xenophobia" type="integer" label="32018" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="dispensable scenes" label="32019" help="">
			<group id="1">
				<setting id="dispensable" type="integer" label="32020" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="idiocy" type="integer" label="32021" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="tedious" type="integer" label="32022" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="drugs" label="32023" help="">
			<group id="1">
				<setting id="drugs" type="integer" label="32024" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="alcohol" type="integer" label="32025" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="antipsychotics" type="integer" label="32026" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="cigarettes" type="integer" label="32027" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="depressants" type="integer" label="32028" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="gambling" type="integer" label="32029" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="hallucinogens" type="integer" label="32030" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="stimulants" type="integer" label="32031" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="fear" label="32032" help="">
			<group id="1">
				<setting id="fear" type="integer" label="32033" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="accident" type="integer" label="32034" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="acrophobia" type="integer" label="32035" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="aliens" type="integer" label="32036" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="arachnophobia" type="integer" label="32037" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="astraphobia" type="integer" label="32038" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="aviophobia" type="integer" label="32039" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="chemophobia" type="integer" label="32040" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="claustrophobia" type="integer" label="32041" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="coulrophobia" type="integer" label="32042" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="cynophobia" type="integer" label="32043" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="death" type="integer" label="32044" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="dentophobia" type="integer" label="32045" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="emetophobia" type="integer" label="32046" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="enochlophobia" type="integer" label="32047" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="explosion" type="integer" label="32048" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="fire" type="integer" label="32049" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="gerascophobia" type="integer" label="32050" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="ghosts" type="integer" label="32051" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="graves" type="integer" label="32052" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="hemophobia" type="integer" label="32053" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="hylophobia" type="integer" label="32054" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="melissophobia" type="integer" label="32055" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="misophonia" type="integer" label="32056" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="musophobia" type="integer" label="32057" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="mysophobia" type="integer" label="32058" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="nosocomephobia" type="integer" label="32059" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="nyctophobia" type="integer" label="32060" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="siderodromophobia" type="integer" label="32061" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="thalassophobia" type="integer" label="32062" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="vampires" type="integer" label="32063" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="language" label="32064" help="">
			<group id="1">
				<setting id="language" type="integer" label="32065" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="blasphemy" type="integer" label="32066" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="nameCalling" type="integer" label="32067" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="sexualDialogue" type="integer" label="32068" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="swearing" type="integer" label="32069" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="vulgarity" type="integer" label="32070" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="nudity" label="32068" help="">
			<group id="1">
				<setting id="nudity" type="integer" label="32069" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="bareButtocks" type="integer" label="32070" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="exposedGenitalia" type="integer" label="32071" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="fullNudity" type="integer" label="32072" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="toplessness" type="integer" label="32073" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="sex" label="32074" help="">
			<group id="1">
				<setting id="sex" type="integer" label="32075" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="adultery" type="integer" label="32076" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="analSex" type="integer" label="32077" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="coitus" type="integer" label="32078" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="kissing" type="integer" label="32079" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="masturbation" type="integer" label="32080" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="objectification" type="integer" label="32081" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="oralSex" type="integer" label="32082" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="premaritalSex" type="integer" label="32083" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="promiscuity" type="integer" label="32084" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="prostitution" type="integer" label="32085" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="violence" label="32086" help="">
			<group id="1">
				<setting id="violence" type="integer" label="32087" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="choking" type="integer" label="32088" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="crueltyToAnimals" type="integer" label="32089" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="culturalViolence" type="integer" label="32090" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="desecration" type="integer" label="32091" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="emotionalViolence" type="integer" label="32092" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="kicking" type="integer" label="32093" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="massacre" type="integer" label="32094" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="murder" type="integer" label="32095" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="punching" type="integer" label="32096" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="rape" type="integer" label="32097" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="slapping" type="integer" label="32098" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="slavery" type="integer" label="32099" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="stabbing" type="integer" label="32100" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="torture" type="integer" label="32101" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="warfare" type="integer" label="32102" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="weapons" type="integer" label="32103" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
